<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Nexdin Employee Management System</title>

<link rel="stylesheet"
	href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
	integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
	crossorigin="anonymous">
</head>
<body style="background-color:#d3d3d3">

	<!-- create navigation bar ( header) -->
	<nav style="background-color:#002366" class="navbar navbar-inverse navbar-fixed-top">
		<div class="container">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed"
					data-toggle="collapse" data-target="#navbar" aria-expanded="false"
					aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span> <span
						class="icon-bar"></span> <span class="icon-bar"></span> <span
						class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#" th:href="@{/}"><b><i>Nexdin Software Solutions(Pvt)Ltd</i>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Employee Management System</b></a>
			</div>
		</div>
	</nav>

	<br>
	<br>
	<br>
	<br>
	<br>
	<br>
	<!-- Create HTML registration form -->
	<div class="container">
		<div class="row">
			<div style="background-color:#abcdef" class="col-md-6 col-md-offset-3">

				<!-- success message -->
				<div th:if="${param.success}">
					<div class="alert alert-info">You've successfully registered
						to our awesome app!</div>
				</div>

				<h1><b>Registration</b></h1>
				<hr size="8" width="90%" color="red">  

				<form th:action="@{/registration}" method="post" th:object="${user}">
					<div class="form-group">
						<label class="control-label" for="firstName"> First Name </label>
						<input id="firstName" class="form-control" th:field="*{firstName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="lastName"> Last Name </label> <input
							id="lastName" class="form-control" th:field="*{lastName}"
							required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="email"> Email </label> <input
							id="email" class="form-control" th:field="*{email}" required
							autofocus="autofocus" />
					</div>

					<div class="form-group">
						<label class="control-label" for="password"> Password </label> <input
							id="password" class="form-control" type="password"
							th:field="*{password}" required autofocus="autofocus" />
					</div>

					<div class="form-group">
						<button style="background-color:#0047ab" type="submit" class="btn btn-success">Register</button>
						<span>Already registered? <a href="/" th:href="@{/login}"><font style="color:red">Login
								here</font></a></span>
					</div>
				</form>
			</div>
		</div>
	</div>
	<style>
    body {
     margin: 0;
     padding: 0;
     min-height: 100vh;
     display: flex;
     flex-direction: column;
    }
    footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color:#002366;
    color: white;
    height: 40px;
    }
   </style>
	



	<footer class="et-l et-l--footer">
			
				<div class="et_pb_text_inner"><p><span><center><font style="color:white">© 2021 Nexdin Software Solutions (Pvt) Ltd</font></center></span></p></div>
			
	</footer>
	
</body>
</html>